// articles
.articles {
  width: 100%;
}

.articles-list {
  // border();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.articles-list .heading-lv1 {
  margin: 10px;
  text-align: center;
}

.article {
  // border();
  display: flex;
  flex-wrap: wrap;
  margin: 15px 10px;
  position: relative;
  width: calc(100% - 10px);
}

@media (max-width: 500px) {
  .article {
    width: 100%;
  }
}

.article-link {
  text-decoration: none;
  padding: 16px 0;
}

.article-name {
  color: highlight-color;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  line-height: 24px;
}

.article-link:hover > .article-name {
  color: text-color;
}

.article-link:focus {
  outline: 2px dashed text-color;
}

.article-details {
  color: text-color;
  margin: 10px 0 25px 0;
  width: 100%;
}
