.main {
  flex: 1;
}

.container-centered {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  border();
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
