.footer {
  height: calc(40px + 88px);
}

.mario-map {
  align-items: flex-end;
  background-image: url('../img/mario-map.png');
  background-position: 0 0;
  background-repeat: repeat-x;
  display: flex;
  height: 88px;
  justify-content: space-around;
  padding-bottom: 20px;
  width: 100%;
}

.mario-map::before {
  animation: run 2s infinite alternate ease-in-out;
  background-image: url('../img/gumba.png');
  // border: 1px solid #fff;
  content: '';
  display: inline-block;
  height: 18px;
  width: 23px;
}

@keyframes run {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(30px);
  }
}

.mario-map::after {
  animation: jump .5s infinite alternate;
  background-image: url('../img/gumba.png');
  // border: 1px solid #fff;
  content: '';
  display: inline-block;
  height: 18px;
  width: 23px;
}

@keyframes jump {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}

.lari-credits {
  align-items: center;
  background-color: secondary-color;
  color: text-color;
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  height: 40px;
  justify-content: center
  width: 100%;
}

.lari-credits--heart {
  animation: pulse .5s infinite alternate ease-in;
  background-color: highlight-color;
  display: inline-block;
  height: 10px;
  margin: 0 15px;
  position: relative;
  width: 10px;
}

.lari-credits--heart:before {
  background-color: highlight-color;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 10px;
}

.lari-credits--heart:after {
  background-color: highlight-color;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}

@keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
