/* Dev mode */
// border()
//   border: 0 dashed white;

@font-face {
  font-family: 'Karmatic';
  src: url('../fonts/karmatic.ttf');
}

/* Box model */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: bg-color;
  color: text-color;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
