/* Dev mode */
border()
  border: 1px dashed #000;

/* Box model */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: bg-color;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
