// Header container
.header {
  margin-bottom: 30px;
  width: 100%;
}

// Menu
.lari-nav {
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.lari-menu {
  align-items: center;
  background-image: url('../img/cloud.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

@media (max-width: 500px) {
  .lari-menu {
    justify-content: center;
  }
}

.lari-menu__item {
  list-style: none;
}

.lari-menu__item__link {
  background: bg-color;
  color: text-color;
  font-size: 10px;
  margin-right: 4px;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.lari-menu__item__link:hover {
  color: highlight-color;
}

.lari-menu__item__link:focus {
  outline: 2px dashed text-color;
}
