// Projects
.projects {
  width: 100%;
}

.projects-list {
  border();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.projects-list .heading-lv1 {
  margin: 10px;
}

.project {
  background-color: #fff;
  border();
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  width: calc(50% - 10px);
}

@media (max-width: 500px) {
  .project {
    width: 100%;
  }
}

.project-name {
  color: secondary-color;
  font-weight: 300;
  margin: 0;
}

.project-star {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.projects-star-count {
  color: secondary-color;
  margin-left: 5px;
}

.project-description {
  color: secondary-color;
  margin: 10px 0 0 0;
  width: 100%;
}
