// talks
.talks {
  width: 100%;
}

.talks-list {
  border();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.talks-list .heading-lv1 {
  margin: 10px;
  text-align: center;
}

.talk {
  border();
  display: flex;
  flex-wrap: wrap;
  margin: 30px 5px;
  padding: 10px;
  padding-top: 20px;
  position: relative;
  width: calc(100% - 10px);
}

@media (max-width: 500px) {
  .talk {
    width: 100%;
  }
}

.talk-event {
  color: highlight-color;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.talk-date {
  color: text-color;
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.talk-details {
  color: text-color;
  margin: 10px 0 25px 0;
  width: 100%;
}
