@font-face {
  font-family: 'Karmatic';
  src: url('../fonts/karmatic.ttf');
}

.heading-lv1 {
  color: #fff;
  font-family: 'Karmatic', cursive;
  font-size: 42px;
  margin: 5px;
  width: calc(100% - 10px);
}

.paragraph {
  color: #fff;
}
