.heading-lv1 {
  color: #fff;
  font-family: 'Karmatic', cursive;
  font-size: 42px;
  margin: 15px 5px;
  width: calc(100% - 10px);
}

.paragraph {
  color: text-color;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
