header.header
  div.container
    nav.menu
      ul.menu-itens
        li.menu-item
          a.menu-link(href="#") Home
        li.menu-item
          a.menu-link(href="#") Perfil
    div.profile
      img.profile-img(src="assets/img/larissa-perfil-mini.jpg" alt="Larissa Abreu - perfil")
      span.profile-text Larissa Abreu
