header.header
  div.container
    nav.menu
      ul.menu-itens
        li.menu-itens__menu-item
          a.menu-link(href="index.html") Perfil
        li.menu-itens__menu-item
          a.menu-link(href="projects.html") Projetos
    div.profile-header
      img.profile-header-img(src="assets/img/larissa-perfil-mini.jpg" alt="Larissa Abreu - perfil")
      span.profile-header-text Larissa Abreu
