header.header
  div.container
    nav.lari-nav
      ul.lari-menu
        li.lari-menu__item
          a.lari-menu__item__link(href="index.html") Start
        li.lari-menu__item
          a.lari-menu__item__link(href="talks.html") Talks
        li.lari-menu__item
          a.lari-menu__item__link(href="articles.html") Articles
