extends ./layouts/default.pug

block content
  div.container-centered
    div.profile
      img(srcset="assets/img/larissa-perfil-1x.jpg 1x, assets/img/larissa-perfil-2x.jpg 2x" src="assets/img/larissa-perfil-1x.jpg" class="profile-img" alt="Larissa Abreu imagem de perfil")
      h1.heading-lv1 Larissa Abreu
      p.paragraph Front-End Developer | Webcomponents evangelist
      p.paragraph Contact me with larissa.a.abreu@hotmail.com
      div.socials
        a(href="https://twitter.com/TheSweet_Lari" target="blank").lari-btn.lari-btn--twitter Follow
        a(href="https://github.com/LarissaAbreu" target="blank").lari-btn.lari-btn--github Projects
      ul.lari-game-menu
        li.lari-game-menu__item
          a.lari-game-menu__item__link.lari-game-menu__item__link--active Start
        li.lari-game-menu__item
          a(href="talks.html").lari-game-menu__item__link Talks
