/* Colors */
highlight-color = #ff0066
secondary-color = #212121
bg-color = #333

/* Box model */
* {
  box-sizing: border-box;
}

/* Dev mode */
border()
  border: 1px dashed #000;

.container {
  border();
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

/* Partials */
@import 'partials/header.styl';
